.container-main{
    background-color: red;
    width: 600px;
    height: 100px;
}

.div-submit_color{
    background-color: #136A93;
}

.div-submit_color:hover{
    background-color: rgb(35, 150, 203);
}

.div-reset_color, .div-hr_color{
    background-color: #C2C2C2;
}

.div-reset_color:hover{
    background-color: #7c7c7c;
}