<h1 class="text-center text-2xl font-bold text-slate-800 sm:text-3xl">{{ buttonText }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4 rounded-lg p-4 shadow-lg">
  <div *ngFor="let field of fields">
    <label [for]="field.name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">{{ field.label }}</label>
    <input
      [type]="field.type"
      [id]="field.name"
      [formControlName]="field.name"
      [placeholder]="field.placeholder"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black"
      required
    />
    <div *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched" class="text-red-500 text-xs">
      El campo {{ field.label }} es obligatorio
    </div>
  </div>

  <button type="submit" class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">
    {{ buttonText }}
  </button>
</form>
