<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 flex justify-center">
  <div class="w-full sm:w-1/2">
    <h1 class="text-center text-2xl font-bold text-slate-800 sm:text-3xl">{{ buttonText }}</h1>

    <form (ngSubmit)="onSubmit()" class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">
      <div *ngFor="let field of fields">
        <label [for]="field.name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">{{ field.label }}</label>
        <input
          [(ngModel)]="field.name"
          [type]="field.type"
          [id]="field.name"
          [name]="field.name"
          [placeholder]="field.placeholder"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black"
          required="field.required"
        />
        <div *ngIf="field.required && !formData[field.name]" class="text-red-500 text-xs">
          El campo {{ field.label }} es obligatorio
        </div>
      </div>

      <br>

      <button type="button" class="div-submit_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white">
        {{ buttonText }}
      </button>
    </form>
  </div>
</div>
