.card-container_info {
  min-height: 15rem;
}

.info-section-main {
  width: 63%;
}

.text-status{
  font-size: 19px;
  
}

.text-namePet{
  font-size: 19px;
  font-family: 'Abhaya Libre';
  font-weight: bolder;
  font-style: normal;
}

.text-informationPet{
  font-family: 'Abhaya Libre';
  font-size: 17px;
  font-weight:900 ;
  text-align: justify;
}

.div-text {
  max-width: 50vw;
}

.info-section-description_div {
  width: 100%;
}

.text-subtitles{
  font-size: 20px;
}

.info-section-img_div {
  margin: auto;
  align-items: center;
  gap: 1rem;
  min-width: 30%;

}

.info-section-img_div img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  opacity: 0.6; 
  
}

.info-section-img_div img:nth-child(2) {
  transform: scale(1.2); 
  opacity: 1; 
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.info-section-img_div img:hover {
  transform: scale(1.2);
  opacity: 1;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}
