<div
  class="card-container_info rounded-lg border border-gray-200 bg-white shadow-md p-5 flex justify-between items-start"
>
  <div class="info-section-main">

    <div class="info-section_dog-text flex">
      <p class=" text-status-name text-transform: uppercase ">{{ pet.name }}</p>
    </div>

    <!-- ng if si es perdido o encontrado cambia color -->
     <div *ngIf="type_post==='Lost'">
      <p
      class="text-status_weight  text-red-600"
    >
      ESTADO:
      <span  class="text-gray-600">Perdido</span>
    </p>
   
  
     </div>

     <div *ngIf="type_post==='Encontrado'">
      <p
      class="text-status_weight  text-green-500"
    >
      ESTADO:
      <span class="text-gray-600">Encontrado</span>
    </p>
     </div>

     <div *ngIf="type_post==='Adoption'">
      <p
      class="text-status_weight  text-violet-800"
    >
      ESTADO:
      <span  class="text-gray-600">Adopción</span>
    </p>
     </div>
  

    <div
      class="info-section-description_div mt-2 text-justify "
      *ngIf="type_post === 'Lost'"
    >
    <div class="flex mt-2 mb-1 items-center">
      <img class="w-7 h-7 mr-2" src="assets/posts/ubication.svg" alt="">
      <p class="div-text text-subtitles mt-0.5">{{ lost_data?.address?.colony }}</p>
      </div>

      <p class="div-text text-informationPet">{{ lost_data?.description }}</p>    
    </div>
    <div
      class="info-section-description_div mt-2 text-justify"
      *ngIf="type_post === 'Adoption'"
    >
      <p class=" text-subtitles">Características de la mascota:</p>
      <ul class="div-text"  *ngFor="let characteristic of pet.main_physical_characteristics">
        <li  class="text-informationPet" >- {{ characteristic }}</li>
      </ul>
    </div>

    <div
      class="info-section-description_div mt-2 text-justify"
      *ngIf="type_post === 'Encontrado'"
    >
      <p class="text-informationPet">{{ gratitude }}</p>
    </div>
  </div>

  <!-- imagenes -->
  <div class="info-section-img_div flex space-x-2">
    <img
      *ngFor="let image of imagenes"
      [src]="image"
      class="w-28 h-28 object-cover rounded-lg shadow"
      alt="Imagen de la mascota"
    />
  </div>
</div>
