.card-container_main {
    min-height: 25rem;
    max-height: max-content;
    margin-left: 1.4%;
    margin-right: 1.4%;
    max-width: 81rem;
}



.info-pet-container-main{
    max-width:max-content;
    min-width: 68%;
    height: max-content;
}


.info-schedule{
    max-width:max-content;
    min-width: 100%;   
    
}

