<div
  class="card-container_main p-4 rounded-lg border border-gray-300 bg-white shadow-lg mt-10"
>
  <!-- nommbre y detalles -->
  <app-header-card-local-service
    [id_user]="local_service.id_user"
    [showButtonMessage]="true"
  ></app-header-card-local-service>

  <div
    class="card-container_info rounded-lg border border-gray-300 bg-white shadow-md p-5 flex justify-between items-start"
  >
    <!-- img y boton contacto -->
    <app-image-gallery [thumbnails]="local_service.photos"></app-image-gallery>

    <!-- Información completa de locales y servicios -->
    <div class="info-pet-container-main lg:w-2/3 border-gray-200">
      <!-- nombre y status -->
      <app-name-address
        [name]="local_service.name"
      ></app-name-address>

      <app-description 
      [description]="local_service.description"
      [address]="local_service.address"
      ></app-description>

    </div>
  </div>

  <div class="info-schedule border-gray-200">
    <app-card-schedule
      [openingHours]="local_service.opening_hours"
    ></app-card-schedule>
  </div>
</div>

<div
  class="card-container_main p-4 rounded-lg border border-gray-300 bg-white shadow-lg mt-10"
>
  <app-comment-local-service-page
    [comments]="local_service.comments"
    [id_user]="id_user"
    [id_local_service]="local_service._id"
    (render)="renderComponent($event)"
  ></app-comment-local-service-page>
</div>
