.card-container_info {
    min-height: 15rem;
  }

.card-container_info {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card-container_info:hover {
    transform: translateY(-5px) scale(1.03); 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  