

<div
  class="card-container_info rounded-lg border border-gray-200 bg-white shadow-md p-5 flex justify-between items-start"
>

  <div class="info-section-main">
    <div
      class="bg-[#0575A6] text-white font-bold py-1 px-6 rounded-full text-center inline-block"
    >
      Local
    </div>

    <div class="info-section-description_div mt-2 text-justify">
      <div class="flex mt-2 mb-1 items-center">
        <img class="w-7 h-7 mr-2" src="assets/posts/ubication.svg" alt="" />
        <p class="div-text text-subtitles mt-0.5">
          {{ postLocal.address?.colony }}
        </p>
      </div>

      <p class="div-text text-informationPet">{{ postLocal.description }}</p>
    </div>
  </div>

  <!-- imagenes -->
  <div class="info-section-img_div flex space-x-2">
    <img
      *ngFor="let image of imagenes"
      [src]="image"
      class="w-28 h-28 object-cover rounded-lg shadow"
      alt="Imagen de la mascota"
    />
  </div>
</div>
