.description-of-event {
  max-width: 100%;
  white-space: normal;
}

.description-of-event {
  max-width: 100%;
  white-space: normal;
}

.card-color {
  background-color: #0575a6;
}

.text-informationPet {
  font-family: "Abhaya Libre";
  font-size: 19.5px;
  font-weight: 900;
  text-align: justify;
}
