.card-users-main{
    background: linear-gradient( #0575A6 0%, #2682AA 100%);
    margin-top: 5%;
    margin-left: 2.5rem;   
    min-height: 30rem; 
    max-height: 100%;
    width: 100%;
    overflow: hidden; 
    transition: all 1s ease-in-out;
    position: relative;
}

.title-choose-user{
    font-size: 35px;
    font-weight: bolder;
    font-style: normal;
}

.title-card-user{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}

.title-card-text{
    font-family: 'Abhaya Libre';
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
    text-align: center;
}

.card-users_button{
    font-size: 14px;
    font-weight: bolder;
    font-style: normal;
    position: absolute; 
    bottom: 0;
    margin-bottom: 7vh;
    background-color: #136A93;
    transition: background-color 0.6s ease-in-out, transform 0.6s ease-in-out; 
    
}

.card-users-main:hover{
    transform: scale(1.15) translateY(-10px); 
    z-index: 10; 
}

.card-users_button:hover{
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #0d435c;
}