.card-users-main{
    background: linear-gradient( #0575A6 0%, #2682AA 100%);
    margin-top: 5%;
    margin-left: 2.5rem;    
    max-height: 100%;
    width: 100%;
    overflow: hidden; 
    transition: all 1s ease-in-out;
    position: relative;
}

.card-users_button{
    background-color: #136A93;
    transition: background-color 0.6s ease-in-out, transform 0.6s ease-in-out; 
}

.card-users-main:hover{
    transform: scale(1.15) translateY(-10px); 
    z-index: 10; 
}

.card-users_button:hover{
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #0d435c;
}