<div 

class="container mx-auto px-4 py-8 mr-20">
    <h2 class="title-choose-user text-center mb-8 ">Bienvenido a PetsCop</h2>

    <div class="flex">
    <!-- usuario normal -->
    <div class="card-users-containter w-full sm:w-96 px-4 mb-8">
        <div class="card-users-main bg-white border border-gray-200 rounded-lg shadow ">
            <div class="flex justify-end px-4 pt-4"></div>
            <div class="flex flex-col items-center pb-10 text-center p-5 mt-2">
                <img class="w-24 h-24 mb-12 rounded-full border-2 border-blue-200 shadow-lg shadow-blue-950" src="assets/gifs/userRegister.gif" alt="normal" />
                <h5 class="title-card-user mb-1 text-gray-900 dark:text-white">USUARIO NORMAL</h5>
                <span class="title-card-text text-sm dark:text-white mt-2 mb-2">Como un usuario regular podrás ver publicar, crear publicaciones, comentar, responder comentarios, entre muchas cosas más.</span>
                <div class="flex mr-48">
                    <button (click)="setUserType('Normal')" class="card-users_button inline-flex items-center px-4 py-2 text-sm text-white rounded-lg ">
                        Elegir Usuario Regular
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- usuario local -->
    <div class="card-users-containter w-full sm:w-96 px-4 mb-8 ">
        <div class="card-users-main bg-white border border-gray-200 rounded-lg shadow ">
            <div class="flex justify-end px-4 pt-4"></div>
            <div class="flex flex-col items-center pb-10 text-center p-5 mt-2">
                <img class="w-24 h-24 mb-12 rounded-full border-2 border-blue-200 shadow-lg shadow-blue-950" src="assets/gifs/localRegister.gif" alt="Local" />
                <h5 class="title-card-user mb-1 text-gray-900 dark:text-white">USUARIO LOCAL</h5>
                <span class="title-card-text text-sm dark:text-white mt-2 mb-2">Como un usuario local podrás decirnos donde se encuentra tu local, visualizar publicaciones, dar a conocer tu horario de atención y mucho más.</span>
                <div class="flex mr-40 ">
                    <button (click)="setUserType('Local')" class="card-users_button inline-flex items-center px-4 py-2 text-sm text-white rounded-lg ">
                        Elegir Usuario Local
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- usuario servicio -->
    <div class="card-users-containter w-full sm:w-96 px-4 mb-8">
        <div class="card-users-main bg-white border border-gray-200 rounded-lg shadow ">
            <div class="flex justify-end px-4 pt-4"></div>
            <div class="flex flex-col items-center pb-10 text-center p-5 mt-2">
                <img class="w-24 h-24 mb-12 rounded-full border-2 border-blue-200 shadow-lg shadow-blue-950" src="assets/gifs/serviceRegister.gif" alt="Service" />
                <h5 class="title-card-user mb-1 text-gray-900 dark:text-white">USUARIO SERVICIO</h5>
                <span class="title-card-text text-sm dark:text-white mt-2 mb-2">Como un usuario de servicio, podrás contarnos que tipo de servicio ofreces, visualizar publicaciones, dar a conocer tu horario de atención y mucho más</span>
                <div class=" flex mr-48 ">
                    <button (click)="setUserType('Service')" class="card-users_button inline-flex items-center px-4 py-2 text-sm text-white rounded-lg ">
                        Elegir Usuario Servicio
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


