<!-- incio -->

<div
  class="card-container_main p-4 rounded-lg border border-gray-200 bg-white shadow-lg mt-10"
>
  <!-- header del nombre, datos, publi y mandar mensaje -->
  <app-header-card></app-header-card>
  <!-- info -->

  <app-info-card></app-info-card>

  <!-- botones comentar y repostear -->
  <div class="flex items-center mt-4">
    <button
      class="comment-button flex items-center px-4 py-1.5 rounded-md mr-6"
    >
      <img
        class="h-7 w-7 mr-1"
        src="assets/posts/comment.svg"
        alt="message-icon"
      />
      Comentar
    </button>
    <button
      class="repost-button flex items-center bg-gray-200 px-4 py-1.5 rounded-md"
    >
      <img
        class="h-7 w-7 mr-1"
        src="assets/posts/repost.svg"
        alt="message-icon"
      />
      Repostear
    </button>
  </div>
</div>
