<nav class="bg-blue-600 p-4 flex items-center justify-between">
    
    <div class="flex items-center">
      <img src="logo" alt="Logo" class="h-8 w-8 mr-2" />
      <span class="text-white text-xl font-bold">Pets Cop</span>
    </div>
   
    <div class="flex-grow mx-4">
      <input
        type="text"
        placeholder="¿Qué es lo que quieres buscar?"
        class="w-full p-2 rounded-full border border-gray-300 focus:outline-none"
      />
    </div>
  
    
    <div class="flex items-center space-x-4">
      
      <button
        class="bg-pink-200 text-blue-700 font-semibold py-2 px-4 rounded-full hover:bg-pink-300 flex items-center"
      >
        <svg xmlns="icono" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5 mr-1">
          <!-- icono -->
        </svg>
        Añadir una publicación
      </button>
  
      
      <button class="text-white hover:text-gray-200">
        <svg xmlns="" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
            <!-- icono -->
        </svg>
      </button>
  
 
      <button class="text-white hover:text-gray-200">
        <svg xmlns="icono" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
          <!-- icono -->
        </svg>
      </button>
    </div>
  </nav>
  