<nav class="navColor p-4 flex items-center justify-between max-h-28">
  <div class="flex items-center space-x-2 ">
    <div class="logo-nav-side">
      <img class="logo-nav-side_img w-20 h-20" src="/assets/nav-aside/logoPet.svg" alt="Logo">
    </div>
    <span class="text-title-nav text-white  font-bold">PETS COP</span>
  </div>

  <div *ngIf="showButtonsNav"  class="flex items-center space-x-4 mx-4">
    


    <button
    (click)="openPostTypeModal()"
      class=" navButton-color py-2 px-4 rounded-full flex items-center space-x-2 "
    >
      <img src="/assets/nav-aside/addPost.svg" alt="Añadir publicación" >
      <span class="mt-1">Añadir una publicación</span>
    </button>
  </div>

  <div class="flex items-center space-x-4">
    <button  *ngIf="showButtonsNav" class="text-white hover:text-gray-200">
      <img src="/assets/nav-aside/startChat.svg" alt="Iniciar chat" >
    </button>
    <button (click)="toggleMenu()" class="text-white hover:text-gray-200">
      <img src="/assets/nav-aside/hamburgerNav.svg" alt="Menú" [ngClass]="{'rotate-90': menuOpen}" class="transition-transform duration-300">
    </button>
  </div>

  <div *ngIf="showModalTypePost">
    <app-post-type-modal 
    (postTypeSelected)="handlePostTypeSelection($event)" 
    (closeModalTypeSelect)="closePostTypeModal()"></app-post-type-modal>
  </div>
  
</nav>

<app-sidebar [menuOpen]="menuOpen" (menuToggle)="toggleMenu()"></app-sidebar>
