.div-submit_color {
    background-color: #136A93;
    font-size: 17px;
  }

.label_text-register{
    font-family: 'Abhaya Libre';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}
  .div-submit_color:hover {
    background-color: rgb(35, 150, 203);
  }
  
  .div-reset_color,
  .div-hr_color {
    background-color: #c2c2c2;
  }
  
  .div-reset_color:hover {
    background-color: #7c7c7c;
  }

  .input-text_register{
    color: rgb(49, 65, 87);
    font-size: 16px;
  }

  .error-text_register{
    font-size: 15.5px;
  }
  

  /* DIAS DE TRABAJO */
  
  .day-title_color{
    color: #136A93;
  }

  .day-button_close {
    background-color: #105474;
    
  }
  .position-button{
  margin-left: auto;
  min-width: 12rem;
  }
  .day-button_close:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #136286;
  } 