<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 flex justify-center">
  <div class="w-full sm:w-1/2">
    <h1 class="text-center text-2xl font-bold text-slate-800 sm:text-3xl">Registro</h1>

    <form class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">

      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Nombre</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="new_user_normally.first_name"
        name="name"
        placeholder="Ingresa tu nombre"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black"
        required
      />
      
      <label for="paternal_surname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Apellidos</label>
      <input
        type="text"
        id="paternal_surname"
        [(ngModel)]="new_user_normally.last_name"
        name="paternal_surname"
        placeholder="Ingresa tu apellido paterno"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black"
        required
      />
      
      <label for="birthdate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Fecha de Nacimiento</label>
      <input
        type="date"
        id="birthdate"
        [(ngModel)]="new_user_normally.birthdate"
        name="birthdate"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black"
        required
      />
      

      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Correo Electrónico</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="new_user_normally.email"
        name="email"
        placeholder="Ingresa tu correo electrónico"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black"
        required
      />
      
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Contraseña</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="new_user_normally.password_user"
        name="password"
        placeholder="Ingresa tu contraseña"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black"
        required
      />
      

      <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Confirmar Contraseña</label>
      <input
        type="password"
        id="confirmPassword"
        [(ngModel)]="compare_password"
        name="confirmPassword"
        placeholder="Confirma tu contraseña"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black"
        required
      />

      <button type="button" (click)="registrer()" class="div-submit_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white">
        Registrarse
      </button>
    </form>
  </div>
</div>