<div
  class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 flex justify-center"
>
  <div class="w-full sm:w-1/2">

    <form class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8" [formGroup]="formRegistrer" (ngSubmit)="onSubmitRegister()">
      <!-- FORMULARIO DE USARIO NORMAL -->
       
      <div *ngIf="choosenUser === 'Normal'">
        <h1 class="text-center text-2xl font-bold text-slate-800 sm:text-3xl">
          Registro
        </h1>
        <div class="flex items-center space-x-4 justify-center">
          <hr class="div-hr_color flex-grow">
          <label for="profile-picture" class="cursor-pointer relative mt-5">
            <img
              class="w-20 h-20 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
              alt="Photo"
              id="profile-image"
              [src]="download_photo"
            />
            <input
              type="file"
              id="profile-picture"
              accept="image/*"
              class="hidden"
              (change)="listenImage($event)"
            />
          </label>
          
          <hr class="div-hr_color flex-grow">
        </div> 

        <div>
          
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Nombre</label
          >
          <input
            type="text"
            id="name"
            formControlName="nombre_usuario"
            name="name"
            placeholder="Ingresa tu nombre"
      
            class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
          />
          <div
          *ngIf="hasErrors('nombre_usuario', 'required')"
          class="text-red-500 text-xs mb-2"
        >
          El campo Nombre de la mascota es obligatorio
        </div>

        </div>
        



        <div>
          <label
            for="last_name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Apellidos</label
          >
          <input
            type="text"
            id="last_name"
            formControlName="apellidos_usuario"
            name="last_name"
            placeholder="Ingresa tu apellido paterno"
            class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
           
          />
          <div
          *ngIf="hasErrors('apellidos_usuario', 'required')"
          class="text-red-500 text-xs mb-2"
        >
          El campo de los Apellidos es obligatorio
        </div>
        </div>

        <div>
          <label
            for="birthdate"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Fecha de Nacimiento</label
          >
          <input
            type="date"
            id="birthdate"
            formControlName="fecha_de_nacimiento"
            name="birthdate"
            class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
            
          />
          <div
          *ngIf="hasErrors('fecha_de_nacimiento', 'required')"
          class="text-red-500 text-xs mb-2"
        >
          El campo de la fecha de Nacimiento es obligatorio
        </div>
        </div>

        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Correo Electrónico</label
          >
          <input
            type="email"
            id="email"
            formControlName="correo_electronico"
            name="email"
            placeholder="Ingresa tu correo electrónico"
            class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
            
          />
          <div
          *ngIf="hasErrors('correo_electronico', 'required')"
          class="text-red-500 text-xs mb-2"
        >
          El campo del Correo electronico es obligatorio
        </div>
        </div>

        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Contraseña</label
          >
          <input
            type="password"
            id="password"
            formControlName="new_password"
            name="password"
            placeholder="Ingresa tu contraseña"
            class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
            required
          />

          <div
          *ngIf="hasErrors('new_password', 'required')"
          class="text-red-500 text-xs mb-2"
        >
          El campo de la Contraseña es obligatoria
        </div>
        </div>

        <div>
          <label
            for="confirmPassword"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Confirmar Contraseña</label
          >
          <input
            type="password"
            id="confirmPassword"
            formControlName="compare_new_password"
            name="confirmPassword"
            placeholder="Confirma tu contraseña"
            class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
            
          />

          <div
          *ngIf="hasErrors('compare_new_password', 'required')"
          class="text-red-500 text-xs mb-2"
        >
          El campo de la Contraseña es obligatoria
        </div>
        </div>
        
        <button
        type="submit"
        class="mt-5 div-submit_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white"
        >
          Registrar Local
        </button>
      </div>

      <!-- FORMULARIO DE LOCAL -->
      <div *ngIf="choosenUser === 'Local'">
      <div >
        <h1 class="text-center text-2xl font-bold text-slate-800 sm:text-3xl">
          Registro para el local
        </h1>
        <div *ngIf="currentStep === 1" class="form-step1">
          <!-- foto-->
          <div class="flex items-center space-x-4 justify-center">
            <hr class="div-hr_color flex-grow">
            <label for="profile-picture" class="cursor-pointer relative mt-5">
              <img
                class="w-20 h-20 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                alt="Photo"
                id="profile-image"
                [src]="download_photo"
              />
              <input
                type="file"
                id="profile-picture"
                accept="image/*"
                class="hidden"
                (change)="listenImage($event)"
              />
            </label>
            
            <hr class="div-hr_color flex-grow">
          </div> 

          <!-- nombre Local -->
          <div>
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Nombre del Local</label
            >
            <input
              type="text"
              id="name"
              formControlName="nombre_local"
              name="name"
              placeholder="Ingresa el nombre del local"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('nombre_local', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo del Nombre del local es obligatorio
          </div>
          </div>

          <!-- descirpcion -->
          <div>
            <label
              for="description"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Descripción</label
            >
            <textarea
              id="description"
              formControlName="descripcion"
              name="description"
              placeholder="Ingresa una descripción"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            ></textarea>
            <div
            *ngIf="hasErrors('descripcion', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo de la descripcion es obligatorio
          </div>
          </div>

          <!-- Teléfono -->
          <div>
            <label
              for="telefono"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Teléfono del local</label
            >
            <input
              type="tel"
              id="telefono"
              formControlName="telefono"
              name="telefono"
              placeholder="Ingresa un número de teléfono"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            >
            <div
            *ngIf="hasErrors('telefono', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo del teléfono es obligatorio
          </div>
          </div>

          <!-- direccion -->
          <div>
            <label
              for="colonia"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Colonia del local</label
            >
            <input
              type="text"
              id="colonia"
              formControlName="colonia"
              name="colonia"
              placeholder="Ingrese la colonia del local"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('colonia', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo de la colonia del local es obligatorio
          </div>
          </div>

          <div>
            <label
              for="calle"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Calle del local</label
            >
            <input
              type="text"
              id="calle"
              formControlName="calle"
              name="calle"
              placeholder="Ingrese la calle del local"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('calle', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo de la calle del local es obligatorio
          </div>
          </div>

          <div>
            <label
              for="no_domicilio"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Número de domicilio del local</label
            >
            <input
              type="number"
              id="no_domicilio"
              formControlName="no_domicilio"
              name="no_domicilio"
              placeholder="Ingrese el no. de domicilio del local"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('no_domicilio', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo del número de domicilio del local es obligatorio
          </div>
          </div>

          <button
          type="button"
          class="div-submit_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white mb-5"
          (click)="onNext()"
        >
          Siguiente
        </button>
        <button
          type="reset"
          class="div-reset_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white"
        >
          Cancelar
        </button>
        </div>  
          <!-- <div>
    <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Dirección</label>
    <input
      type="text"
      id="address"
      [(ngModel)]="new_local_service.address"
      name="address"
      placeholder="Ingresa la dirección del local"
      class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
    />
  </div> -->
          <!-- Apartado de Horario -->
        <div *ngIf="currentStep === 2" class="form-step2">
           <h3>Andreju, no sé si creas que es necesario cambiar los estilos aquí</h3>
          <div>
            <label
              for="lunes_comienzo"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Apertura del negocio en lunes</label
            >
            <input
              type="time"
              id="lunes_comienzo"
              formControlName="lunes_comienzo"
              name="lunes_comienzo"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('lunes_comienzo', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div>
            <label
              for="lunes_final"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Cierre del negocio en lunes</label
            >
            <input
              type="time"
              id="lunes_final"
              formControlName="lunes_final"
              name="lunes_final"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('lunes_final', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div>
            <label
              for="martes_comienzo"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Apertura del negocio en martes</label
            >
            <input
              type="time"
              id="martes_comienzo"
              formControlName="martes_comienzo"
              name="martes_comienzo"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('martes_comienzo', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div>
            <label
              for="martes_final"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Cierre del negocio en martes</label
            >
            <input
              type="time"
              id="martes_final"
              formControlName="martes_final"
              name="martes_final"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('martes_final', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div>
            <label
              for="miercoles_comienzo"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Apertura del negocio en miércoles</label
            >
            <input
              type="time"
              id="miercoles_comienzo"
              formControlName="miercoles_comienzo"
              name="miercoles_comienzo"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('miercoles_comienzo', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div>
            <label
              for="miercoles_final"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Cierre del negocio en miércoles</label
            >
            <input
              type="time"
              id="miercoles_final"
              formControlName="miercoles_final"
              name="miercoles_final"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('miercoles_final', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div>
            <label
              for="jueves_comienzo"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Apertura del negocio en jueves</label
            >
            <input
              type="time"
              id="jueves_comienzo"
              formControlName="jueves_comienzo"
              name="jueves_comienzo"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('jueves_comienzo', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div>
            <label
              for="jueves_final"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Cierre del negocio en jueves</label
            >
            <input
              type="time"
              id="jueves_final"
              formControlName="jueves_final"
              name="jueves_final"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('jueves_final', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div>
            <label
              for="viernes_comienzo"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Apertura del negocio en viernes</label
            >
            <input
              type="time"
              id="viernes_comienzo"
              formControlName="viernes_comienzo"
              name="viernes_comienzo"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('viernes_comienzo', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div>
            <label
              for="viernes_final"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Cierre del negocio en viernes</label
            >
            <input
              type="time"
              id="viernes_final"
              formControlName="viernes_final"
              name="viernes_final"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('viernes_final', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div>
            <label
              for="sabado_comienzo"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Apertura del negocio en sábado</label
            >
            <input
              type="time"
              id="sabado_comienzo"
              formControlName="sabado_comienzo"
              name="sabado_comienzo"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('sabado_comienzo', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div>
            <label
              for="sabado_final"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Cierre del negocio en sábado</label
            >
            <input
              type="time"
              id="sabado_final"
              formControlName="sabado_final"
              name="sabado_final"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('sabado_final', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div>
            <label
              for="domingo_comienzo"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Apertura del negocio en domingo</label
            >
            <input
              type="time"
              id="domingo_comienzo"
              formControlName="domingo_comienzo"
              name="domingo_comienzo"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('domingo_comienzo', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div>
            <label
              for="domingo_final"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Cierre del negocio en martes</label
            >
            <input
              type="time"
              id="domingo_final"
              formControlName="domingo_final"
              name="domingo_final"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('domingo_final', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

            <button
            type="button"
            class="div-submit_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white mb-5"
            (click)="onNext()"
          >
            Siguiente
          </button>

          <button
            type="button"
            class="div-reset_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white"
            (click)="onBack()"
          >
            Anterior
          </button>
        </div>  
          <!-- correo -->
        <div *ngIf="currentStep === 3" class="form-step3">
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Correo Electrónico</label
            >
            <input
              type="email"
              id="email"
              formControlName="correo_electronico"
              name="email"
              placeholder="Ingresa el correo electrónico"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('correo_electronico', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo del Correo es obligatorio
          </div>
          </div>

          <!-- contra -->
          <div>
            <label
              for="password_LS"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Contraseña</label
            >
            <input
              type="password"
              id="password_LS"
              formControlName="new_password"
              name="password_LS"
              placeholder="Ingresa la contraseña"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('new_password', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo de la contraseña es obligatorio
          </div>
          </div>

          <!-- confirmar contraseña  -->
          <div>
            <label
              for="confirmPassword"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Confirmar Contraseña</label
            >
            <input
              type="password"
              id="confirmPassword"
              formControlName="compare_new_password"
              name="confirmPassword"
              placeholder="Confirma la contraseña"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('compare_new_password', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo de la contraseña es obligatorio
          </div>
          </div>

          <button
          type="submit"
          class="mt-5 div-submit_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white"
          >
            Registrar Local
          </button>
        
          <button
            type="button"
            class="div-reset_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white"
            (click)="onBack()"
          >
            Anterior
          </button>
        </div>
        </div>
      </div>

      <!-- FORMULARIO DE SERVICIO -->
      <div *ngIf="choosenUser === 'Service'">
        
        <h1 class="text-center text-2xl font-bold text-slate-800 sm:text-3xl">
          Registro de un servicio
        </h1>
          <div>
            <div *ngIf="currentStep === 1" class="form-step1">
                  <!-- foto-->
          <div class="flex items-center space-x-4 justify-center">
            <hr class="div-hr_color flex-grow">
            <label for="profile-picture" class="cursor-pointer relative mt-5">
              <img
                class="w-20 h-20 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                alt="Photo"
                id="profile-image"
                [src]="download_photo"
              />
              <input
                type="file"
                id="profile-picture"
                accept="image/*"
                class="hidden"
                (change)="listenImage($event)"
              />
            </label>
            
            <hr class="div-hr_color flex-grow">
          </div> 

        <div>

          <!-- nombre servicio -->
          <div>
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Nombre del Local</label
            >
            <input
              type="text"
              id="name"
              formControlName="nombre_local"
              name="name"
              placeholder="Ingresa el nombre del local"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('nombre_local', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo del nombre del local es obligatorio
          </div>
          </div>

          <!-- descirpcion -->
          <div>
            <label
              for="description"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Descripción</label
            >
            <textarea
              id="description"
              formControlName="descripcion"
              name="description"
              placeholder="Ingresa una descripción"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            ></textarea>
            <div
            *ngIf="hasErrors('descripcion', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo de la descripcion es obligatorio
          </div>
          </div>

          <!-- Teléfono -->
          <div>
            <label
              for="telefono"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Teléfono del servicio</label
            >
            <input
              type="tel"
              id="telefono"
              formControlName="telefono"
              name="telefono"
              placeholder="Ingresa un número de teléfono"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            >
            <div
            *ngIf="hasErrors('telefono', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo del teléfono es obligatorio
          </div>
          </div>
        </div> 
        <button
          type="button"
          class="div-submit_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white mb-5"
          (click)="onNext()"
        >
          Siguiente
        </button>
        <button
          type="reset"
          class="div-reset_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white"
        >
          Cancelar
        </button> 
        </div>

        <div *ngIf="currentStep === 2" class="form-step2">
          <h3>Andreju, no sé si creas que es necesario cambiar los estilos aquí</h3>

          <h2>Lunes</h2>
          <div *ngIf="isWorkThatDay('Lunes')">
            <label
              for="lunes_comienzo"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Apertura del negocio en lunes</label
            >
            <input
              type="time"
              id="lunes_comienzo"
              formControlName="lunes_comienzo"
              name="lunes_comienzo"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
            />
            <div
            *ngIf="hasErrors('lunes_comienzo', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div *ngIf="isWorkThatDay('Lunes')">
            <label
              for="lunes_final"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Cierre del negocio en lunes</label
            >
            <input
              type="time"
              id="lunes_final"
              formControlName="lunes_final"
              name="lunes_final"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('lunes_final', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <button type="button" *ngIf="isWorkThatDay('Lunes')" (click)="dontWorksinThatDay('Lunes', 'lunes')">No trabajo en ese día</button>
          <button type="button" *ngIf="!isWorkThatDay('Lunes')" (click)="worksInThatDay('Lunes', 'lunes')" >Trabajo en ese día</button>

          <h2>Martes</h2>
          <div *ngIf="isWorkThatDay('Martes')">
            <label
              for="martes_comienzo"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Apertura del negocio en martes</label
            >
            <input
              type="time"
              id="martes_comienzo"
              formControlName="martes_comienzo"
              name="martes_comienzo"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('martes_comienzo', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div *ngIf="isWorkThatDay('Martes')">
            <label
              for="martes_final"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Cierre del negocio en martes</label
            >
            <input
              type="time"
              id="martes_final"
              formControlName="martes_final"
              name="martes_final"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('martes_final', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <button type="button" *ngIf="isWorkThatDay('Martes')" (click)="dontWorksinThatDay('Martes', 'martes')">No trabajo en ese día</button>
          <button type="button" *ngIf="!isWorkThatDay('Martes')" (click)="worksInThatDay('Martes', 'martes')" >Trabajo en ese día</button>

          <h2>Miércoles</h2>
          <div *ngIf="isWorkThatDay('Miércoles')">
            <label
              for="miercoles_comienzo"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Apertura del negocio en miércoles</label
            >
            <input
              type="time"
              id="miercoles_comienzo"
              formControlName="miercoles_comienzo"
              name="miercoles_comienzo"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('miercoles_comienzo', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div *ngIf="isWorkThatDay('Miércoles')">
            <label
              for="miercoles_final"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Cierre del negocio en miércoles</label
            >
            <input
              type="time"
              id="miercoles_final"
              formControlName="miercoles_final"
              name="miercoles_final"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('miercoles_final', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <button type="button" *ngIf="isWorkThatDay('Miércoles')" (click)="dontWorksinThatDay('Miércoles', 'miercoles')">No trabajo en ese día</button>
          <button type="button" *ngIf="!isWorkThatDay('Miércoles')" (click)="worksInThatDay('Miércoles', 'miercoles')" >Trabajo en ese día</button>

          <h2>Jueves</h2>
          <div *ngIf="isWorkThatDay('Jueves')">
            <label
              for="jueves_comienzo"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Apertura del negocio en jueves</label
            >
            <input
              type="time"
              id="jueves_comienzo"
              formControlName="jueves_comienzo"
              name="jueves_comienzo"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('jueves_comienzo', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div *ngIf="isWorkThatDay('Jueves')">
            <label
              for="jueves_final"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Cierre del negocio en jueves</label
            >
            <input
              type="time"
              id="jueves_final"
              formControlName="jueves_final"
              name="jueves_final"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('jueves_final', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <button type="button" *ngIf="isWorkThatDay('Jueves')" (click)="dontWorksinThatDay('Jueves', 'jueves')">No trabajo en ese día</button>
          <button type="button" *ngIf="!isWorkThatDay('Jueves')" (click)="worksInThatDay('Jueves', 'jueves')" >Trabajo en ese día</button>

          <h2>Viernes</h2>
          <div *ngIf="isWorkThatDay('Viernes')">
            <label
              for="viernes_comienzo"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Apertura del negocio en viernes</label
            >
            <input
              type="time"
              id="viernes_comienzo"
              formControlName="viernes_comienzo"
              name="viernes_comienzo"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('viernes_comienzo', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div *ngIf="isWorkThatDay('Viernes')">
            <label
              for="viernes_final"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Cierre del negocio en viernes</label
            >
            <input
              type="time"
              id="viernes_final"
              formControlName="viernes_final"
              name="viernes_final"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('viernes_final', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <button type="button" *ngIf="isWorkThatDay('Viernes')" (click)="dontWorksinThatDay('Viernes', 'viernes')">No trabajo en ese día</button>
          <button type="button" *ngIf="!isWorkThatDay('Viernes')" (click)="worksInThatDay('Viernes', 'viernes')" >Trabajo en ese día</button>

          <h2>Sábado</h2>
          <div *ngIf="isWorkThatDay('Sábado')">
            <label
              for="sabado_comienzo"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Apertura del negocio en sábado</label
            >
            <input
              type="time"
              id="sabado_comienzo"
              formControlName="sabado_comienzo"
              name="sabado_comienzo"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('sabado_comienzo', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <div *ngIf="isWorkThatDay('Sábado')">
            <label
              for="sabado_final"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Cierre del negocio en sábado</label
            >
            <input
              type="time"
              id="sabado_final"
              formControlName="sabado_final"
              name="sabado_final"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('sabado_final', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <button type="button" *ngIf="isWorkThatDay('Sábado')" (click)="dontWorksinThatDay('Sábado', 'sabado')">No trabajo en ese día</button>
          <button type="button" *ngIf="!isWorkThatDay('Sábado')" (click)="worksInThatDay('Sábado', 'sabado')" >Trabajo en ese día</button>

          <h2>Domingo</h2>
          <div *ngIf="isWorkThatDay('Domingo')">
            <label
              for="domingo_comienzo"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Apertura del negocio en domingo</label
            >
            <input
              type="time"
              id="domingo_comienzo"
              formControlName="domingo_comienzo"
              name="domingo_comienzo"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('domingo_comienzo', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>
          

          <div *ngIf="isWorkThatDay('Domingo')">
            <label
              for="domingo_final"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Cierre del negocio en martes</label
            >
            <input
              type="time"
              id="domingo_final"
              formControlName="domingo_final"
              name="domingo_final"
              placeholder="Ingrese la hora de comienzo"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('domingo_final', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            Este campo es obligatorio
          </div>
          </div>

          <button type="button" *ngIf="isWorkThatDay('Domingo')" (click)="dontWorksinThatDay('Domingo', 'domingo')">No trabajo en ese día</button>
          <button type="button" *ngIf="!isWorkThatDay('Domingo')" (click)="worksInThatDay('Domingo', 'domingo')" >Trabajo en ese día</button>

          <button
          type="button"
          class="div-submit_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white mb-5"
          (click)="onNext()"
        >
          Siguiente
        </button>

        <button
          type="button"
          class="div-reset_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white"
          (click)="onBack()"
        >
          Anterior
        </button>
        </div>

        <div *ngIf="currentStep === 3" class="form-step3">
          <!-- correo -->
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Correo Electrónico</label
            >
            <input
              type="email"
              id="email"
              formControlName="correo_electronico"
              name="email"
              placeholder="Ingresa el correo electrónico"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('correo_electronico', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo de la decripcion es obligatorio
          </div>
          </div>

          <!-- contra -->
          <div>
            <label
              for="password_LS"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Contraseña</label
            >
            <input
              type="password"
              id="password_LS"
              formControlName="new_password"
              name="password_LS"
              placeholder="Ingresa la contraseña"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              required
            />
            <div
            *ngIf="hasErrors('new_password', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo de la contraseña es obligatorio
          </div>
          </div>

          <!-- confirmar contraseña  -->
          <div>
            <label
              for="confirmPassword"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Confirmar Contraseña</label
            >
            <input
              type="password"
              id="confirmPassword"
              formControlName="compare_new_password"
              name="confirmPassword"
              placeholder="Confirma la contraseña"
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:placeholder-gray-400 dark:text-black"
              
            />
            <div
            *ngIf="hasErrors('compare_new_password', 'required')"
            class="text-red-500 text-xs mb-2"
          >
            El campo de la contraseña es obligatorio
          </div>
          </div>

          <button
          type="submit"
          class="mt-5 div-submit_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white"
          >
            Registrar Servicio
          </button>
        
          <button
            type="button"
            class="div-reset_color block w-full rounded-lg px-5 py-3 text-sm font-medium text-white"
            (click)="onBack()"
          >
            Anterior
          </button>
        </div>  
        </div>

      </div>

    </form>
  </div>
</div>
