<div 
  *ngIf="menuOpen"
  id="sidebar" 
  [ngClass]="{
    'translate-x-0 opacity-100': menuOpen, 
    'translate-x-full opacity-0': !menuOpen
  }" 
  class="min-h-full sideBar-color absolute top-28 right-0 max-w-80 h-[calc(100vh-112px)] transition-all duration-1000 ease-in-out z-50 flex flex-col text-white">

  <nav class="flex-1">
    <ul class="space-y-2">
      <li class="side-li_hover flex items-center p-5 pt-8 cursor-pointer">
        <img src="/assets/nav-aside/profile.svg" alt="" class="mr-5 ml-1">
        <span class="ml-2">PERFIL</span>
      </li>
      <li class="side-li_hover flex items-center p-5 mt-5 cursor-pointer">
        <img src="/assets/nav-aside/settings.svg" alt="" class="mr-5">
        <span class="ml-2">CONFIGURACIÓN</span>
      </li>
      <li class="side-li_hover flex items-center p-5 mt-5 cursor-pointer">
        <img src="/assets/nav-aside/logIn.svg" alt="" class="mr-5 ml-0">
        <span class="ml-3">INICIAR SESIÓN</span>
      </li>
      <li class="side-li_hover flex items-center p-5 mt-5 cursor-pointer">
        <img src="/assets/nav-aside/addUser.svg" alt="" class="mr-5 ml-2">
        <span class="ml-1">REGISTRARSE</span>
      </li>
      <li class="side-li_hover flex items-center p-5 mt-5 cursor-pointer">
        <img src="/assets/nav-aside/logOut.svg" alt="" class="mr-5 ml-2">
        <span class="ml-1">CERRAR SESIÓN</span>
      </li>
    </ul>
  </nav>
</div>
