<!-- incio -->
<div class="section-header flex items-center justify-between p-4 bg-gray-100 rounded-lg shadow-md mb-6">
  <h1 class="section-header_title text-2xl font-semibold text-gray-700 text-center w-full">INICIO</h1>

   <div class="relative">
    
    <select class="filtro-button appearance-none bg-gradient-to-r cursor-pointer text-white font-semibold py-2 px-4 rounded-full shadow-md pr-8">
      <option disabled class="filtro-button_value" value="" >Filtrar por</option>
      <option class="filtro-button_value cursor-pointer" value="todo">Todo</option>
      <option class="filtro-button_value cursor-pointer" value="perdido">Perdido</option>
      <option class="filtro-button_value cursor-pointer" value="encontrado">Encontrado</option>
    </select>
   
    <svg class="absolute right-2 top-1/2 transform -translate-y-1/2 w-4 h-4 fill-current text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"/>
    </svg>
  </div>
</div>
   
   <div class="card-container_main  p-4 rounded-lg border border-gray-200 bg-white shadow-lg  mt-10">

    <div class="card-header flex items-center mb-3">
      <img class="profile-image w-12 h-12 rounded-full border border-gray-300" src="https://via.placeholder.com/50" alt="Foto de perfil" />
      <div class="ml-4">
        <p class="text-sm font-semibold">Andre Julian Gutiérrez Alcazar</p>
        <p class="text-xs text-gray-500">24/10/2024 &nbsp; 10:12</p>
      </div>
      <button class="message-button ml-auto flex items-center px-4 py-1.5 rounded-md text-sm">
        <img class="h-7 w-7 mr-2" src="assets/posts/message.svg" alt="message-icon">
        Enviar mensaje
      </button>
    </div>
    <!-- info -->
    <div class="card-container_info rounded-lg border border-gray-200 bg-white shadow-md p-5 flex justify-between items-start">
      <div class="info-section-main ">
          <div class="info-section_dog-text flex">
              <p class="text-blue-600 font-bold text-lg">Cozy</p>
              <p class="text-gray-600 text-sm ml-3 mt-1 md:font-bold">Perro macho</p>
          </div>
          <!-- ng if si es perdido o encontrado cambia color -->
          <p class="status-text text-red-600 font-bold">Estado: <span class="text-gray-600 text-sm md:font-normal">Perdido</span></p>
          <p class="text-gray-600 text-sm flex items-center mt-1">
              <img class="h-7 w-7 mr-3" src="assets/posts/ubication.svg" alt="message-icon"> Ocozocoautla de Espinoza
          </p>
          <div class="info-section-description_div mt-2 text-justify">
              <p>Yago is a jokester who can get along with everyone - dogs and humans alike! He's athletic and playful but also knows when it's time to take a break and lounge around. Yago is a very affectionate baby who would love to take naps with you when he is not running around and playing with his toys.</p>
          </div>
      </div>
      <!-- imagenes -->
      <div class="info-section-img_div flex space-x-2">
          <img class="w-28 h-2w-28 object-cover rounded-lg shadow" src="https://via.placeholder.com/100" />
          <img class="w-28 h-2w-28 object-cover rounded-lg shadow" src="https://via.placeholder.com/100" />
          <img class="w-28 h-2w-28 object-cover rounded-lg shadow" src="https://via.placeholder.com/100" />
          <img class="w-28 h-2w-28 object-cover rounded-lg shadow" src="https://via.placeholder.com/100" />
      </div>
  </div>
    


    <div class="flex items-center mt-4">
      <button class="comment-button flex items-center px-4 py-1.5 rounded-md mr-6">
        <img class="h-7 w-7 mr-1" src="assets/posts/comment.svg" alt="message-icon">
        Comentar
      </button>
      <button class="repost-button flex items-center bg-gray-200 px-4 py-1.5 rounded-md">
        <img class="h-7 w-7 mr-1" src="assets/posts/repost.svg" alt="message-icon">
        Repostear
      </button>
    </div>
   </div>