<aside class="asideColor text-white w-64 min-h-screen flex flex-col">
    <div class="aside-li_hover">
    <div class="flex items-center ml-6 pt-5 ">
        <img src="assets/user-profile.jpg" alt="Photo" class="h-14 w-14 mr-0.5 mt-5">
        <div>
            <p class="text-sm font-semibold mt-5">KEVIN JIMMY MORALES PEREZ</p>
        </div>
    </div>
</div>
    <nav class="flex-1 ">
        <ul class="space-y-2">
            <li class="aside-li_hover flex items-center p-4 cursor-pointer">
                <img src="/assets/nav-aside/home.svg" alt="" class="mr-5 mt-5">
                <span class="mt-5" >INICIO</span>
            </li>
            <li class="aside-li_hover flex items-center p-4 cursor-pointer">
                <img src="/assets/nav-aside/paws.svg" alt=""class="mr-5 mt-5">
                <span class="mt-5" >MASCOTAS</span>
            </li>
            <li class="aside-li_hover flex items-center p-4 cursor-pointer">
               <img src="/assets/nav-aside/ubication.svg" alt=""class="mr-5 mt-5">  
                <span class="mt-5" >LOCALES Y SERVICIOS</span>
            </li>
        </ul>
    </nav>
</aside>
