<aside class="bg-blue-600 text-white w-64 min-h-screen flex flex-col">



    <div class="flex items-center p-4 border-b border-white/20">
        <img src="assets/user-profile.jpg" alt="User Profile" class="h-10 w-10 rounded-full mr-2">
        <div>
            <!-- <p class="text-sm font-semibold">{{nombreusuario}}</p> -->
        </div>
    </div>

   
    <nav class="flex-1 mt-4">
        <ul class="space-y-2">
            <li class="flex items-center p-4 hover:bg-blue-700 cursor-pointer">
                <i class="fas fa-home mr-2"></i>  <!-- icono-->
                <span>Inicio</span>
            </li>
            <li class="flex items-center p-4 hover:bg-blue-700 cursor-pointer">
                <i class="fas fa-paw mr-2"></i>  <!-- icono-->
                <span>Mascotas</span>
            </li>
            <li class="flex items-center p-4 hover:bg-blue-700 cursor-pointer">
                <i class="fas fa-store mr-2"></i>  <!-- icono-->
                <span>Locales y Servicios</span>
            </li>
        </ul>
    </nav>
</aside>
