<div class="flex items-center justify-between mb-4">
  <div class="flex items-center space-x-2">
    <img src="assets/posts/pata.svg" class="h-9 w-9" />
    <h4 class="text-xl font-semibold">{{ name }}</h4>
  </div>
  <div class="alert-pet flex items-center ml-20">
    <span class="status text-sm px-2 py-1 rounded-md">{{ address }}</span>
  </div>
</div>

<!-- ""boton"" de datos -->
<div class="button-caract-div mt-10">
  <button
    class="button-caract_button  text-white px-4 py-1"
  >
    Datos 
  </button>
</div>
