<app-step1 
[fields]="fields"
(formSubmitted)="onSubmitLoss($event)"
[mainImage]="''"
[additionalImages]="[]"
[mainPlaceholderIcon]="'/assets/forms/dog2.svg'"
[additionalPlaceholderIcons]="[
  '/assets/forms/dog1.svg',
  '/assets/forms/dog1.svg',
  '/assets/forms/dog1.svg',
  '/assets/forms/dog1.svg'
]"

>

></app-step1>


<!-- <app-step3 
[mainImage]="''"
[additionalImages]="[]"
[mainPlaceholderIcon]="'/assets/forms/dog2.svg'"
[additionalPlaceholderIcons]="[
  '/assets/forms/dog1.svg',
  '/assets/forms/dog1.svg',
  '/assets/forms/dog1.svg',
  '/assets/forms/dog1.svg'
]"

///////////////checate esto
(submitForm2)="onSubmitLoss($event)">

></app-step3> -->
