  <textarea
    class="text-area_comment py-3 px-5 rounded-lg border border-gray-300 bg-white focus:outline-none text-gray-900 placeholder-gray-400 text-lg font-normal leading-relaxed"
    name=""
    id=""
    placeholder="Escribir un comentario..."
  ></textarea>

  <a href="" class="absolute right-6 top-[18px]">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
    >
      <g clip-path="url(#clip0_2063_2504)">
        <path
          d="M10.0194 1.66699V5.6556C1.69526 5.6556 1.54178 14.4163 1.69573 18.3337C1.69573 16.4818 5.84659 10.0003 10.0194 10.6414V14.63L18.3332 8.14847L10.0194 1.66699Z"
          stroke="#111827"
          stroke-width="1.6"
          stroke-linejoin="round"
        />
      </g>
      <defs>
        <clipPath id="clip0_2063_2504">
          <rect width="20" height="20" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </a>

